/* Popular */

.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-top .desc {
    margin-top: 16px;
    width: 458px;
}

.popular .controls {
    display: flex;
    gap: 18px;
}

.popular .controls .control-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    background-color: transparent;
    color: var(--secondary-color);
}

.popular .controls .control-btn:hover {
    background: var(--secondary-color);
    color: #fff;
    cursor: pointer;
}

/* popular - bottom */
.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-list .course-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-list .course-item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.popular .course-item .info {
    margin: 16px 22px 22px;
}

.course-item .info .head,
.popular .course-item .foot,
.course-item .info .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .price,
.course-item .info .title {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
}

.info .rating .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--secondary-color);
}

.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .book-btn {
    border: none;
    padding: 0;
}

.popular .course-item .book-btn:hover {
    background-color: var(--secondary-color);
}
