@import './../plugins/reset.css';
@import './header.css';
@import './hero.css';

* {
    /* make size always right */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #171100;
    --secondary-color: #ffb900;
    --desc-color: #5f5b53;
}

html {
    /* set 1 rem = 10px */
    font-size: 62.5%;
}

body {
    /* set font-size's web basic is 16px */
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    font-weight: 600;
    min-width: 118px;
    border-radius: 999px;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}
