@import './../plugins/reset.css';
@import './../plugins/line-clamp.css';
@import './header.css';
@import './hero.css';
@import './popular.css';
@import './feedback.css';
@import './feature.css';

* {
    /* make size always right */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #171100;
    --secondary-color: #ffb900;
    --desc-color: #5f5b53;
    --background-color: #fffcf4;
    --sub-background-color: #2e2100;
}

html {
    /* set 1 rem = 10px */
    font-size: 62.5%;
}

body {
    /* set font-size's web basic is 16px */
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    font-weight: 600;
    min-width: 118px;
    border-radius: 999px;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--desc-color);
}

.word-break-all {
    white-space: break-all;
}
